<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="assets\images\favicon-16x16.png" type="image/png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acasa</title>
  </head>
  <body>
    <div class="firstPageDiv">
      <div class="infoPage">
        <h1>PEB Electric</h1>
        <ul>
          <li>
            Executăm / Proiectăm Instalații Electrice Pentru Locuințe și Spații
            Comerciale
          </li>
          <li>Instalații Electrice Rezidențiale</li>
          <li>Branșamente Electrice</li>
          <li>Realizarea/Măsurarea prizelor de pămant</li>
          <li>Oferim consultanță, constatare și ofertare gratuit</li>
          <li>Personal autorizat</li>
        </ul>
        <div class="buttons">
          <button
            class="contact"
            onclick="window.location.href='mailto:office@pebelectric.ro?subject=Inquiry&body=Hello,%20I%20would%20like%20more%20information%20about...'"
          >
            Contactează-ne
          </button>
          <a href="tel:+40752067782">
            <button class="contact">Apelează-ne</button>
          </a>
        </div>
      </div>
      <div class="imgDiv">
        <img
          class="tablouImg"
          src="assets\images\pexels-cristian-rojas-8853502.jpg"
          alt="Fotografie de la Los Muertos Crew: https://www.pexels.com/ro-ro/fotografie/inova-ie-energie-regenerabila-muncitor-in-construc-ii-eco-friendly-8853502/"
        />
      </div>
    </div>
    <div class="emojiDiv">
      <div>
        <img
          src="assets\images\lightbulb.png"
          alt="https://www.flaticon.com/free-icons/idea Idea icons created by Freepik - Flaticon"
        />
        <h1>Proiectare</h1>
      </div>
      <div>
        <img
          src="assets\images\thunder.png"
          alt="https://www.flaticon.com/free-icons/lightning
      Lightning icons created by Freepik - Flaticon"
        />
        <h1>Execuție</h1>
      </div>
      <div>
        <img
          src="assets\images\briefcase.png"
          alt="
        https://www.flaticon.com/free-icons/briefcase
        
        Briefcase icons created by Freepik - Flaticon
      "
        />
        <h1>Consultanță</h1>
      </div>
    </div>
  </body>
</html>
