<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="frame-src https://www.google.com/ https://www.google.com/maps;"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <div class="contactPage">
      <h1>Contact</h1>
      <div class="contactInfo">
        <div class="info1">
          <img
            class="phone"
            src="assets\images\phone-call.png"
            alt="https://www.flaticon.com/free-icons/phone Phone icons
      created by Prosymbols - Flaticon "
          />
          <a href="tel:+40752067782">0752067782</a>
        </div>
        <div class="info2">
          <img
            class="email"
            src="assets\images\email.png"
            alt="https://www.flaticon.com/free-icons/email Email icons created by Freepik - Flaticon"
          />
          <a
            href="mailto:office@pebelectric.ro?subject=Inquiry&body=Hello,%20I%20would%20like%20more%20information%20about..."
          >
            office&#64;pebelectric.ro</a
          >
        </div>
      </div>
      <h1>Adresa</h1>
      <div class="adress">
        <p>Str. Zorilor nr.48</p>
        <p>447356 Decebal ,Satu-Mare</p>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2681.480733847451!2d22.76485097643761!3d47.772125576532524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473808ecc5d4980b%3A0xe7e5ac8805e3a5ce!2sStr.%20Zorilor%2048%2C%20Decebal%20447356!5e0!3m2!1sro!2sro!4v1723482793352!5m2!1sro!2sro"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="origin"
        ></iframe>
        <!-- <p>
          If the map does not load, you can view it directly on
          <a
            href="https://www.google.com/maps/place/Str.+Zorilor+48,+Decebal+447356,+Satu-Mare,+Romania"
            target="_blank"
            >Google Maps</a
          >.
        </p> -->
      </div>
    </div>
  </body>
</html>
