<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Despre noi</title>
  </head>
  <body>
    <div class="despre-pagina">
      <div class="despre-noi">
        <div class="text">
          <h1>Despre noi</h1>
          <p>
            Societatea a fost înființată in anul 2021. Fima dispune de personal
            bine pregătit, experimentat și autorizat pentru a face față
            provocărilor atât pe partea de proiectare cât și pe partea de
            execuție oferind astfel clienților lucrări de calitate conforme cu
            standardele și normativele electrice în vigoare.
          </p>
        </div>
        <hr />
        <div class="atestatInfo">
          <img src="assets\images\Atestat.png" alt="atestat" />
          <div class="info">
            <h1>Atestat ANRE Tip B</h1>
            <h3>
              Ce Insemna Atestat de tip B (Be, Bi, Bp) – Competențe (Un=0,4Kv)
            </h3>
            <ul>
              <li>
                Execută instalații electrice exterioare/interioare aferente
                incintelor/construcțiilor civile si industriale de Joasa
                Tensiune
              </li>
              <li>Execută instalații de Joasa Tensiune</li>
              <li>Branșamente aeriene si subterane de Joasa Tensiune – jt</li>
              <li>
                Proiectarea Instalațiilor electrice de Joasa Tensiune – jt
              </li>
              <li>
                Realizează încercări/măsuratori la echipamentele si instalațiile
                electrice de Joasă Tensiune
              </li>
              <li>
                Execută, verifică, masoară prize de pământ, instalații de legare
                la pământ si de paratrăznet aferente cladirilor civile si
                industriale și emite buletine de verificare/măsurare aferente
                acestora
              </li>
              <li>
                Execută încercări/măsurători la echipamentele și instalațiile
                electrice de Joasă Tensiune
              </li>
              <li>
                Execută lucrări de mentenanță la corpurile de iluminat stradal
                pietonal si rutier, temporar festiv si ornamental sau ornamental
                festiv, racordate la instalațiile electrice publice
              </li>
              <li>
                Execută încercari/ măsuratori la echipamentele si instalatiile
                electrice, de joasa tensiune
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />

      <h1 class="serviciiH1">Serviciile oferite</h1>
      <div class="servicii">
        <div class="serviciu">
          <img
            class="impamantare"
            src="assets\images\impamantare.webp"
            alt="priza"
          />
          <h1>Realizarea/Măsurarea prizelor de pămant</h1>
          <ul>
            <li>Realizăm prize de pămănt naturale si artificiale</li>
            <li>Efectuăm măsurători, verificări de prize de pămant</li>
            <li>Emitem buletine de măsurare</li>
          </ul>
        </div>
        <div class="serviciu">
          <img
            class="impamantare"
            src="assets\images\unsplash-image.webp"
            alt="Photo by Mark Kats on Unsplash"
          />
          <h1>Instalații Electrice Rezidențiale</h1>
          <ul>
            <li>
              Executăm/proiectăm instalații electrice la case, apartamente,
              spații comerciale de la zero
            </li>
            <li>Schimbare tablou, adăugare circuite noi</li>
            <li>Instalare prize, întrerupătoare, aplici, candelabre</li>
          </ul>
        </div>
        <div class="serviciu">
          <img
            class="impamantare"
            src="assets\images\poza-bransament.webp"
            alt="branșament"
          />
          <h1>Branșamente Electrice</h1>
          <ul>
            <li>Executăm branșamente monofazate/trifazate</li>
            <li>Ne ocupăm de toate actele și avizele necesare</li>
            <li>Dosar tehnic de utilizare</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="detaliiNoi">
        <h1>Ce ne face diferiți?</h1>
        <p>
          Noi tratăm fiecare lucrare cu respect și profesionalism astfel încât
          fiecare client să fie fericit.
        </p>
        <div class="detalii-ingineri">
          <div class="despreDiv1">
            <a
              href="https://www.flaticon.com/free-icons/engineer"
              title="engineer icons"
            >
              <img src="assets\images\worker.png" alt="muncitor" />
            </a>
            <h1>Ingineri Calificați</h1>
            <p>
              Inginerii noștri sunt calificați, experimentați și pregătiți
              pentru orice provocare!
            </p>
          </div>
          <div class="despreDiv2">
            <a
              href="https://www.flaticon.com/free-icons/timer"
              title="timer icons"
            >
              <img src="assets\images\hourglass.png" alt="ceas" />
            </a>
            <h1>Fără întârzieri</h1>
            <p>
              Echipa noastră dă dovadă de profesionalism și nu vor exista
              întârzieri ale lucrărilor!
            </p>
          </div>
          <div class="despreDiv3">
            <a
              href="https://www.flaticon.com/free-icons/wealth"
              title="wealth icons"
            >
              <img src="assets\images\money.png" alt="bani" />
            </a>
            <h1>Prețuri competitive</h1>
            <p>
              Avem servicii profesionale la cele mai bune prețuri de pe piață!
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div class="contactDiv">
        <h1>Vrei sa afli mai multe?</h1>
        <a
          href="mailto:office@pebelectric.ro?subject=Inquiry&body=Hello,%20I%20would%20like%20more%20information%20about..."
        >
          <button class="contact">Contactează-ne</button>
        </a>
        <a href="tel:+40752067782">
          <button class="contact">Apelează-ne</button>
        </a>
      </div>
    </div>
  </body>
</html>
